# Dependencies
node_modules/

# Next.js
.next/
out/
build/

serviceAccount.json
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/

# Environment files
.env
.env.*
.env.local
!.env.example

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem
